@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header button a li {
    margin:0;
    padding:0;
}

header {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #2A2A2A;
    border:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:140px;
    width:100%;
}

body{
    background-color: white;
    margin:0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration:none;

}

.logo{
    cursor:pointer;
    height:60px;
    position: relative;
    bottom:20px;
    left:20px;
}
.nav__links {
    list-style:none;
}

.nav__links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.contacts{
    position: relative;
    bottom:20px;
    height:30%;
    padding:3px 15px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    background-color: #325B92;
    height:50px;
    font-size:13px;
    width:100%;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

#button-sell{
    position: relative;
    left:50%;

}

#button-repair.service{
position: relative;
left:100%;
}

.service{
    font-size: 15px;
    padding:0;
    padding:0;
    font-size: 21px;
    width:100%;

}

ul.nav__links{
    position:relative;
    padding:0;
    margin:0;
    width:150%;
    right:70px;
}

button.contacts{
    position: relative;
    right:50px;
}

li.serviceLi{
    padding:0;
}

nav{
    position: relative;
    top:59px;
    width:350px;
}







@media all and (min-width:431px) {

    .serviceLi {
        padding:0px 0px;
    }

    header {
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2A2A2A;
        border-width: 9px;
    
    }
    
    body{
        background-color: white;
        margin:0;
    }
    
    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color:#edf0f1;
        text-decoration:none;
    
    }
    
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 3%;
        height:100px;
    }
    .logo{
        cursor:pointer;
        height:80px;
    }
    .nav__links {
        list-style:none;
        padding:0px;
    }
    
    .nav__links li {
        display:inline-block;
        padding: 0px 0px;
    }
    
    .nav__links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover {
        color: #0088a9;
    }
    
    button.contacts{
        padding:9px 25px;
        border:none;
        border-radius:50px;
        cursor:pointer;
        transition: all 0.3s ease 0s;
        background-color: #325B92;
    }
    
    button:hover{
        background-color: rgba(0,136,169,0.8);
    }
    
    
    header {
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2A2A2A;
        border-width: 9px;
    
    }
    
    body{
        background-color: white;
        margin:0;
    }
    
    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color:#edf0f1;
        text-decoration:none;
    
    }
    
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 3%;
        height:4%;
    }
    .logo{
        cursor:pointer;
        height:80px;
    }
    .nav__links {
        list-style:none;
    }
    
    .nav__links li {
        display:inline-block;
        padding: 0px 20px;
    }
    
    .nav__links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover {
        color: #0088a9;
    }
    
    button{
        padding:9px 25px;
        border:none;
        border-radius:50px;
        cursor:pointer;
        transition: all 0.3s ease 0s;
        background-color: #325B92;
    }
    
    button:hover{
        background-color: rgba(0,136,169,0.8);
    }
    
    
    #button-buy{
        margin-right: 80px;
    }
    
    #button-repair{
        margin-left: 80px;
    }
    
    .service{
        font-size: 30px;
    }
    
    .contacts{
        padding:17px 24px;
        font-size:25px;
    }
    
    .service{
        font-size: 30px;
    }
    
    .contacts{
        padding:17px 24px;
        font-size:25px;
    }

    #button-buy.service{
        margin-right: 0px;
    }
    
    #button-repair.service{
        margin-left: 0px;
    }
    li.serviceLi{
        margin:0px 0px 0px 0px;
    }

}






