


*{
  font-family:"Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3A3A3A;
}
li{
    display: inline-block;
}
header{
    text-align: center;
    background-color: #2a2a2a;
    height: 200px;
}

.logo{
    height: 110px;

}

ul{
    list-style-type: none;
    text-decoration: none;
    color:whitesmoke;
}


.services{
    
    padding:20px 18px;
    background-color: #325B92;
    border:none;
    border-radius: 30px;
    color: whitesmoke;
    font-size:18px;
    box-shadow: 0px 8px 20px rgba(58, 58, 217, 0.6);
}


#buy{
    padding: 20px 24px;
}

#sell{
    margin-left: 15px;
    margin-right:15px;
}

.services:hover{
    background-color: #2f7dad;
}

ul {
    justify-content: center;
    text-align: center;

}


.grid{
    display: grid;
    text-align: center;    
    justify-content: center;
    margin: 5% 5% 0% 8%;
    width: 85%;
    height: 500px;
    grid-template-columns: 153px 153px;
    grid-template-rows: 45% 45%;

    grid-gap:20px;
}

.grid-element{
    text-align: center;
    width:153px;
    background-color:rgb(73, 73, 73);
}

a{
    font-size: 25px;
    color: whitesmoke;
    position: relative;
}

.s24photo{
    width:100%;
}

div.add{
    width:fit-content;

}


.repair{
    position: relative;
    top:50px;
    color:whitesmoke;
    font-size: 20px;
    text-align:center;
    margin: 0 5%;
    right: 20px;

}

p{
    position: relative;
    top:10px;
    color:whitesmoke;
    font-size: 25px;
    text-align:center;
    margin: 0% 5% 5% 5%;


}

.oferti{
    font-size: 20px;
}

.jj{
    display: block;
    height: 250px;
}

div.grid-element:hover{
    cursor: pointer;
}

@media (min-width:550px){

    .serviceLi {
        padding:0px 0px;
    }

    header {
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2A2A2A;
        border-width: 9px;
    
    }
    
    body{
        background-color: #3a3a3a;
        margin:0;
    }
    
    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color:#edf0f1;
        text-decoration:none;
    
    }
    
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 3%;
        height:100px;
    }
    button.contacts{
        padding:9px 25px;
        border:none;
        border-radius:50px;
        cursor:pointer;
        transition: all 0.3s ease 0s;
        background-color: #325B92;
    }
    
    button:hover{
        background-color: rgba(0,136,169,0.8);
    }
    
    
    header {
        box-sizing: border-box;
        margin:0;
        padding:0;
        background-color: #2A2A2A;
        border-width: 9px;
    
    }
    
    body{
        margin:0;
    }
    
    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color:#edf0f1;
        text-decoration:none;
    
    }
    
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 3%;
        height:4%;
    }
    .logo{
        cursor:pointer;
        height:90px
    }


    
    button{
        padding:9px 25px;
        border:none;
        border-radius:50px;
        cursor:pointer;
        transition: all 0.3s ease 0s;
        background-color: #325B92;
    }
    
    button:hover{
        background-color: rgba(0,136,169,0.8);
    }
    
    
    #buy{
        margin-right: 0px;
    }
    
    #repair{
        margin-left: 0px;
    }
    
    
    .contacts{
        padding:17px 24px;
        font-size:25px;
    }

    #button-buy.service{
        margin-right: 0px;
    }
    #sell{
        margin: 0;
    }

    .grid{
        display: grid;
        text-align: center;    
        justify-content: center;
        margin: 5% 5% 0% 8%;
        width: 85%;
        height: 500px;
        grid-template-columns: 153px 153px;
        grid-template-rows: 45% 45%;
        row-gap: 20px;
        column-gap:40px;
    }
}


@media (min-width:1000px){
    body{
        background-color: #3a3a3a;
    }
    #buy{
        margin-right: 50px;
    }
    #sell{
        margin-right: 50px;
    }
    #repair{
        margin-right: 50px;
    }
    
    div.grid{

        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 250px;
        height: 250px;
    }

}
