@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
}

li{
    display: inline-block;
}
header{
    text-align: center;
    background-color: #2a2a2a;
    height: 200px;
}

.logo{
    height:110px;
    width: %;
    position: relative;
}

ul{
    list-style-type: none;
    text-decoration: none;
    color:whitesmoke;
}

.services{
    
    padding:20px 18px;
    background-color: #325B92;
    border:none;
    border-radius: 30px;
    color: whitesmoke;
    font-size:18px;
    box-shadow: 0px 8px 20px rgba(58, 58, 217, 0.6);
}


#buy{
    padding: 20px 24px;
}

#sell{
    margin-left: 15px;
    margin-right:15px;
}

.services:hover{
    background-color: #2f7dad;
}

ul {
    justify-content: center;
    text-align: center;

}

li span:nth-child(1)
{
    position: absolute;
    background: linear-gradient(to right, #0c002b, #1779ff);
}

li span:nth-child(2){
    position: absolute;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
}

li span:nth-child(3){
    position: absolute;
    background: linear-gradient(to left, #0c002b, #1779ff);
}

li span:nth-child(4){
    position: absolute;
    background: linear-gradient(to top, #0c002b, #1779ff);
}